* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4972a1;
}

.app {
    height: 100vh; /*ビューポートサイズに対する割合*/
    display: flex; /*要素横並び*/
    justify-content: space-evenly; /*要素を均等に振り分ける*/
    align-items: center;
}




.time-select,
.sound-picker,
.player-container {
    height: 80%;
    flex: 1; /*要素を均等に配分*/
    display: flex;
    flex-direction: column; /*要素を縦に*/
    justify-content: space-evenly;
    align-items: center;
}

.player-container {
    position: relative;

    & svg {
        position: absolute;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg); /*アニメーションの開始位置を調整*/
        pointer-events: none; /*svgファイルのhover時のイベントを削除*/
    }
}

.custum-display {
    position: absolute;
    text-align: center;
    top: 10%;
    display: flex;
    color: white;

 & p {
     font-size: 1.3em;
     margin: 0 10px;
 }
}


.time-display {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 50px;
}


.time-select button {
    color: white;
    width: 30%;
    height: 10%;
    background: none;
    border: 2px solid white;
    cursor: pointer; /*要素にカーソルがある場合*/
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s ease; /*下記に説明を記述*/
}

/*
*transition・・・アニメーション設定
*all・・・どのプロパティにアニメーションを適用するか
*0.5・・・アニメーションの時間
*ease・・・変化の進行度合いeaseがデフォルト
*/

.time-select button:nth-child(1){
    background-color: #4972a1;
    padding: 10px;
}

.time-select button:hover {
    color: black;
    background-color: white;
    opacity: 0.8;
}



